.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
html,
body {
  height: 100%;
}
body {
  background-image: url("./images/FBG.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
}
.container {
  display: flex;
  justify-content: center;
}

.figma {
  background-image: element();
}
